/*

------------FONTES GOOGLE-------------
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Open Sans', sans-serif;

*/
*{

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.banner{
	background-color: white;
	margin: 35px 35px 1px 35px;
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	box-shadow: 2px 2px rgb(230,230,230);
	min-width: 450px;
}

.menu{
	min-width: 450px;
	padding: 5px 35px 5px 35px;
}
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li{
	display: inline;
	background: white;
	border-radius: 5%;
}
.menu li a{
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.meio{	
	background-color: white;
	margin: 0px 35px 35px 35px;
	border-radius: 3px;
	padding: 20px;
	box-shadow: 2px 2px rgb(230,230,230);
	min-width: 450px;
	min-height: 200px;
}


body{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
background: rgb(240,240,240);
margin: 0;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #d95858;
}

h2{
	font-weight: lighter;
}

.text-center{
	text-align: center;
	padding: 30px;
}

.formulario{
	margin: 30px;
	padding: 10px 10px 10px 10px;
	border-style: groove;
	font-size: 14px;
}

.formulario table{
    width: 100%;
    margin: 0px;
	padding: 0px;
	border-spacing: 0;
}

.formulario input{
	margin: 4px;
	font-size: 12px;
}

.formulario select{
	margin: 4px;
	font-size: 12px;
}

.logo{
	height: 100px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
td.topico{
    border-bottom: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
	font-size: 18px;
	padding:0;
	background-color: transparent;
}
td {
	background-color: rgb(253,253,253);
	padding: 0px 0px 0px 10px;
}

.bt_cadastrar {
	overflow: hidden;
	margin: 30px 15% 0 0;
}

input[type="submit"] {
    float: right;
	clear: both;
	height: 40px;
    width: 90px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
}
